# Base de données locale (très important !)
db.sqlite3

# Cache Python
__pycache__/
*.py[cod]
*$py.class

# Environnement virtuel (si tu en as un dans le dossier)
venv/
env/

# Médias locaux (puisque tu utilises Cloudinary en prod)
media/

# ... autres dossiers



db.sqlite3
staticfiles/

# Node / React
node_modules/
dist/
.env
.env.local

# Divers
.DS_Store