DJANGO_SECRET_KEY=change-me
DEBUG=False
ALLOWED_HOSTS=bm-backend.ovh,www.bm-backend.ovh
DATABASE_URL=sqlite:////app/db.sqlite3

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

EMAIL_PASSWORD=